@font-face {
  font-family: "webfont";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_cldr4np9x3u.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_cldr4np9x3u.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_cldr4np9x3u.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_cldr4np9x3u.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_cldr4np9x3u.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_cldr4np9x3u.svg#Alibaba-PuHuiTi-Regular")
      format("svg"); /* iOS 4.1- */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "webfont" !important;
  color: #333;
  line-height: 1.6;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

img {
  width: 100%;
}

.navbar {
  background-color: #047aed;
  color: #fff;
  height: 70px;
  ul {
    display: flex;
  }
  .flex {
    justify-content: space-between;
  }
  a {
    color: #fff;
    padding: 10px;
    &:hover {
      border-bottom: 2px #fff solid;
    }
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
